body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }

.display{
    display: block;
}

  .centrado{
    text-align: center;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    line-height: 1.5;
    vertical-align: middle;
}

.logoTitulo{
    align-items: center;
    width: 100%;
    margin-top: 0%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.texto{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #002156 ;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    margin-bottom: 7%;
}

.boton{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px 0px 12px 0px; 
    background-color: #513b84  ; 
    border: none;
    color: white;
    padding-top : 16px;
    padding-bottom : 16px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    width: 70%;
    max-width: 400px;
    margin-top: 10%;
    margin-bottom: 10%;
}


.divisionRojaArriba{
    color: #ed1c24;
    background-color: #ed1c24;
    height: 6px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0px;
    margin-top: 5%;
    margin-bottom: 10px;
}

.divisionRojaAbajo{
    color: #ed1c24;
    background-color: #ed1c24;
    height: 6px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-top: 10px;
}

.colorTextoMorado{
    color: #513b84;
}

.divisionMoradaArriba{
    color: #513b84;
    background-color: #513b84;
    height: 6px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0px;
    margin-top: 5%;
    margin-bottom: 10px;
}

.divisionMoradaAbajo{
    color: #513b84;
    background-color: #513b84   ;
    height: 6px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-top: 10px;
}
.textoTitulo{
    font-weight: 600;
    font-size: 32px;
    color: #002156 ;
    margin: auto;
}

.divCentrado{
    text-align: center;
}

.inputDatos{
    font-weight: 600;
    font-size: 18px;
    color: #002156 ;
    text-align: center;
    width: 50%;
    height: 30px;
    margin-left: 25%;
    background-color: whitesmoke;
    margin-bottom: 5%;
}

.mensajeError{
    color: #ed1c24;
    height: 30px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.mensajeResultado{
    color: #513b84;
    height: 30px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.textoTitulo3{
    font-weight: 600;
    font-size: 18px;
    color: #002156 ;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.respuestas{
    color: white;
    height: 30px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    background-color: MediumPurple;
    margin-top: 1%;
    width: 80%;
    /* height: 60px; */
    margin-left: 10%;
    margin-right: 10%;
    border-color: purple;
    border-style: solid;
    border-width: 3px;
    /* line-height: 3.0; */
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    
    /* vertical-align: middle; */
    border-radius: 12px 0px 12px 0px; 
    word-wrap: break-word;
}

.respuestaSelecionada{
    background-color: purple; 
    border-color: MediumPurple;
    color: white;
}

.grande{
    font-weight: 800;
    font-size: 32px;
}

.margen{
    margin: 10px 10px 10px 10px;
}

.mediano{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 40px;
}

.oculto{
    display: none;
}
.qrcode2{
    padding-top: 0px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}